/*FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Delius", cursive;
    background-color: rgb(250, 160, 195);
}
/* HEADER */

header{
    background-color: rgb(182, 15, 112);
    color: white;
    border: 2px solid black;
    
}
header nav a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.nav-link{
    color: white;

}
.btn{
    color: white;
    border: 2px solid white;
}
/* MAIN INDEX*/
main{
     color: rgb(39, 37, 38);
}
.descripcion{
        text-align: center;
        color:black;
    }
.descripcion h1{
    font-size: 80px;
    display: inline-block;
    padding-top: 30 px;
    text-decoration:underline;

}
.descripcion p{
    font-size: 25px;;
    border: 4px solid rgb(182, 15, 112);
    margin: 30px;
}
.ofertas h2{
    background-color: rgb(182, 15, 112);
    border: 2px solid black;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}
.ofertas-principales{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    
}
.ofertas-principales div{
    font-size: 20px;
    border: 1px solid rgb(182, 15, 112);
    display: inline-block;
    margin: 20px;
    padding: 5 px;
}
.ofertas div a{
    text-decoration: none;
    color: black;
    background-color: white;
    display: inline-block;
    margin-bottom: 10px;
    padding: 4px;
}
.ofertas-principales div a:hover{
    background-color: rgb(182, 15, 112) ;
    color: white;
}

/*MAIN PRODUCTOS*/
.tipo{
   background-color: rgb(182, 15, 112);
    border: 2px solid black;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}
.producto h3{
    padding-top: 10px;
    font-size: 25px;
}
.producto{
    display: flex;
    justify-content: space-evenly;
}
.producto div a{
    text-decoration: none;
    color: black;
    background-color: white;
    display: inline-block;
    margin-bottom: 10px;
    padding: 4px;
}
.producto div a:hover{
    background-color: rgb(182, 15, 112) ;
    color: white;
}
.producto div{
    margin: 20px;
    border: 1px solid rgb(182, 15, 112);
    text-align: center;
    width: 300px;
    height: 400px;
}

.producto div img{
    width: 250px;
    height:300px ;
    object-fit: cover;
}
/*MAIN POLITICA*/
.saludo{
    text-align: center;
}
.politica{
    margin: 40px;
}
/*MAIN TALLES*/
.talles h2{
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}
.talles div{
    text-align: center;
    margin: 20px;
}
.talles div img{
    width: 50%;
    height:200px ;
}
/*MAIN CONTACTO*/
.grid-contacto{
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    gap: 15px;
}
.opinion{
    grid-column: span 3;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}
.formulario{
    grid-row: span 2;
    padding: 10px;
}
.preguntas{
    grid-column: span 2;
    padding: 10px;
}
.preguntas ul li a{
    text-decoration: none;
    color: black;
}
.social{
    text-align: center;
    padding-top: 15px;
    font-size: 35px;
    border-top: 0;
}
.social a i{
    color:black;
    font-size: 40px;
    padding-bottom: 30px;
}
.formulario form{
    display: flex;
    flex-direction: column;
}


/* FOOTER */
.pie{
    background-color: rgb(182, 15, 112) ;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.pie img{
    width: 200px;
    height: 100px;
}
.pie{
    font-size: 20px;
    color: white;
}
.pago p{
    margin-bottom: 0;
}
.redes a i{
    color: white;
}
/*RESPONSIVE */
@media  screen and (max-width:940px) {
.producto h3{
    font-size: 20px;
}  
}
@media screen and (max-width:880px){
.grid-contacto{
    margin: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
}
.opinion{
    grid-column: span 1;
}
.formulario{
    grid-column: span 1;
}
.pie{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

}
@media screen and (max-width:650px){
.descripcion p{
    font-size: 20px;
}

.grid-contacto{
    margin: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 150px;
}
.grid-cuadro{
    grid-column: span 1;
}
.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
}

}
@media screen and (max-width:500px) {
.grid-contacto{
    display: flex;
    display: block;
}
.social{
    font-size: 30px;
    padding-bottom: 10px;
    
}
.social a i{
    font-size: 30px;
}
.pie{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center; 
}
}
@media screen and (max-width:350px) {
.social{
    font-size: 20px;
    padding-bottom: 10px;
    
}
.social a i{
    font-size: 30px;
}
    
}


