header {
    background-color: rgb(182, 15, 112);
    color: white;
    border: 2px solid black;

    .navar-brand{
        color: white;
        text-decoration: none;
        font-size: 30px;
       
    }
    .nav-link{
            color: white;
    }
    .btn{
        color: white;
        border: 2px solid white;

    }
    

}